:root {
    --header-bg-color: #000000;
    --navbar-bg-color: #FFFFFF;
    --games-bg-color: #1F1F1F;
    --psplus-bg-color: #BEBCBB;
    --psnow-bg-color: #161C3B;
    --footer-bg-color: #00439C;
}

.main-header {
    background-color: var(--header-bg-color);
}

.header-top {
    padding: 12px;
}

.header-top img {
    height: 12px;
}

.main-header .icon {
    padding: 8px;
    height: 40px;
}

/* HERO */
.hero_image {
    min-height: 585px;
    background: url('../img/jumbo-bg.png') center/cover no-repeat;

}

.hero_logo {
    height: 30px;
}

.hero_thumbnail img {
    border-radius: 1rem;
}


.debug .best-game {
    height: 500px;
}